body{
    margin: 0;
}

header{
    display: flex;
    justify-content: space-between;
    background-color: #2980b9;
    padding: 20px;
    color: white;
    font-size: 1.5rem;
}

header a{
    text-decoration: none;
    color: white;
    margin: 0 10px;
}

header a:hover{
    border-bottom: 2px solid white;
}

footer{
    margin-top: 20px;
    background-color: #2980b9;
    padding: 10px;
    color: white;
    text-align: center;
}

.contest{
    display: flex;
    flex-wrap: wrap;
}

.contest-box{
    width: 200px;
    height: 200px;
    background-color: blue;
    margin: 20px;
    color: white;
    font-size: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.search-engine{
    width: 100%;
    display: flex;
    font-size: 1.6rem;
}

.search-engine input[type="search"]{
    flex-grow: 1;
    font-size: 1.6rem;
    padding: 10px;
}

table{
    width: 100%;
}

table img{
    height: 100px;
}

tr.white{
    background-color: #ecf0f1;
}
tr.grey{
    background-color: #bdc3c7;
}

h1{
    color: white;
}
.banner{
    background-size: cover;
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[name="hideTrigger"]{
    display: none;
}

input[name="hideTrigger"]:checked + .trigger-warning__overlay{
    display: none;
}

.trigger-warning__overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.trigger-warning{
    background-color: red;
    color: white;
    text-align: center;
    margin: 20px;
    padding: 10px;
    flex-grow: 1;
    position: relative;
}
label[for="hideTrigger"]{
    position: absolute;
    right: 8px;
    top: 5px;
    color: white;
    font-size: 1.8rem;
}

.rate i{
    color: yellow;
    font-size: 3rem;
}

.progress{
    width: 300px;
    height: 20px;
    border: 1px solid black;
    border-radius: 5px;
    overflow: hidden;
}

.progress-bar{
    height: 100%;
    background-color: blue;
}

label[for="uploadFile"]{
    background-color: #2980b9;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
}

label[for="uploadFile"] + input[type="file"]{
    display: none;
}
